html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height: 1.45;
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    background: #F3F8FF;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
    color: #A291FF;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

*, *:before, *:after {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

h2, h3, h4, h5, h6,
hr, p, ol, ul {
  margin: 0 0 1.5em;
}

hr {
  display: block;
  border: 0;
  text-align: center;
  height: auto;
}

hr:before {
  content: "~ * ~";
}

h2, h3, h4, h5, h6 {
  font: inherit;
  color: #407ee7;
}

h2:before {
  content: "## ";
}

h3:before {
  content: "### ";
}

h4:before {
  content: "#### ";
}

main {
   margin: 10em 0 3em;
}

.Logo {
  display: block;
  margin: 0 auto 2em;
}

.Window {
  display: block;
  margin: 1em auto;
  width: 94%;
  max-width: 530px;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 2px 2px 30px rgba(32,26,65,0.22);
}

.Window-Bar {
  position: relative;
  padding: 0.6em 1em 0.6em 3.5em;
  font-size: 0.875em;
  color: rgba(0,0,0,0.65);
  background: #CDD2D8;
}

.Window-Bar:before,
.Window-Bar:after {
  position: absolute;
  top: 50%;
  left: 1em;
  display: block;
  content: "";
  width: 0.642857143em;
  height: 0.642857143em;
  background: rgba(0,0,0,0.14);
  border-radius: 50%;
  transform: translateY(-50%);
}

.Window-Bar:after {
  left: 2em;
}

.Window-Body,
pre.Window-Body {
  padding: 1.75em 2em 0;
  font-size: 14px;
  font-family: "Source Code Pro", Courier New, Courier, monospace;
  color: #fff;
  background: #201A41;
}

.Window-Body:last-child {
  padding-bottom: 1.75em;
}

.Window-Body > *:last-child {
  margin-bottom: 0;
}

.Sponsors-Intro {
  margin-bottom: 0.5em;
}

.Sponsors ul {
  display: block;
  margin: 0;
  list-style: none;
}

.Sponsors li:before {
  content: "- ";
}